@using ScratchcardStatistics.Interfaces;
@inject IServiceProvider ServiceProvider

@if (initialized)
{
    @ChildContent
}
else
{
    <div class="absolute" style="width: 100%; top: 50%; text-align: center;">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate />
    </div>
}

@code {
    private bool initialized;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        foreach (var service in ServiceProvider.GetServices<IInitialize>())
        {
            await service.InitializeAsync();
        }

        initialized = true;
    }
}
