@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>
        <a href="scratchcards" style="color:rgb(39, 39, 39); text-decoration:none;">Kaparós sorsjegyek</a>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <FluentBodyContent Class="body-content">
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">
                        @Body
                    </div>
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <a href="https://bet.szerencsejatek.hu/sorsjegyek" target="_blank">Szerencsejáték Zrt.</a>
        <FluentSpacer />
        <a href="https://github.com/angyanmark/ScratchcardStatistics" target="_blank">Forráskód</a>
    </FluentFooter>
</FluentLayout>
