@inherits LayoutComponentBase

<FluentLayout>
	<FluentHeader Height="48">
		<a href="scratchcards" style="color: var(--neutral-layer-1); text-decoration: none;">Kaparós sorsjegyek</a>
		<FluentSpacer />
		<a href="https://bet.szerencsejatek.hu/sorsjegyek" target="_blank" style="margin-top: 4px;">
			<FluentIcon Value="@(new Icons.Regular.Size24.Clover())" Color="@Color.Lightweight" Title="Szerencsejáték Zrt." />
		</a>
		<FluentSpacer Width="8" />
		<a href="https://github.com/angyanmark/ScratchcardStatistics" target="_blank" style="margin-top: 4px;">
			<FluentIcon Value="@(new Icons.Regular.Size24.Code())" Color="@Color.Lightweight" Title="Forráskód" />
		</a>
	</FluentHeader>
	<FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
		<FluentBodyContent Class="body-content">
			<ErrorBoundary>
				<ChildContent>
					<div class="content">
						@Body
					</div>
				</ChildContent>
				<ErrorContent>
					<div class="blazor-error-boundary">Hiba történt.</div>
				</ErrorContent>
			</ErrorBoundary>
		</FluentBodyContent>
	</FluentStack>
</FluentLayout>
